In [2]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [3]:
pd.__version__

'2.1.3'

In [31]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df = (
    pd.read_parquet('yellow_tripdata_2021-01.parquet')
    .head(100)
    .astype({
        'passenger_count': 'Int64',
        'RatecodeID': 'Int64',
        })
)

df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [32]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

NameError: name 'df' is not defined

In [37]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [46]:
parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')
for batch in parquet_file.iter_batches():
    t_start = time()
    batch_df = (
        batch.to_pandas()
        .astype({
            'passenger_count': 'Int64',
            'RatecodeID': 'Int64',
        })
    )
    batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print(f'Inserted another chunk of size {batch_df.shape}, took {(t_end - t_start):.3f} seconds.')

Inserted another chunk of size (65536, 19), took 10.300 seconds.
Inserted another chunk of size (65536, 19), took 11.926 seconds.
Inserted another chunk of size (65536, 19), took 11.988 seconds.
Inserted another chunk of size (65536, 19), took 9.695 seconds.
Inserted another chunk of size (65536, 19), took 11.167 seconds.
Inserted another chunk of size (65536, 19), took 11.445 seconds.
Inserted another chunk of size (65536, 19), took 13.284 seconds.
Inserted another chunk of size (65536, 19), took 11.654 seconds.
Inserted another chunk of size (65536, 19), took 13.803 seconds.
Inserted another chunk of size (65536, 19), took 12.159 seconds.
Inserted another chunk of size (65536, 19), took 13.511 seconds.
Inserted another chunk of size (65536, 19), took 14.630 seconds.
Inserted another chunk of size (65536, 19), took 13.003 seconds.
Inserted another chunk of size (65536, 19), took 12.332 seconds.
Inserted another chunk of size (65536, 19), took 11.643 seconds.
Inserted another chunk of size (65536, 19), took 10.281 seconds.
Inserted another chunk of size (65536, 19), took 12.645 seconds.
Inserted another chunk of size (65536, 19), took 10.937 seconds.
Inserted another chunk of size (65536, 19), took 12.404 seconds.
Inserted another chunk of size (65536, 19), took 12.067 seconds.
Inserted another chunk of size (59049, 19), took 10.455 seconds.

In [21]:
# df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [23]:
# df = next(df_iter)

In [25]:
# len(df)

100000

In [26]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [31]:
# %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 10.4 s

In [43]:
# while True: 
#     t_start = time()

#     df = next(df_iter)

#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

#     t_end = time()

#     print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [1]:
import os
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet'
os.system(f'wget {url} -O data.parquet')

0

In [34]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [8]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)