In [1]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [2]:
pd.__version__

'2.1.3'

In [31]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df = (
    pd.read_parquet('yellow_tripdata_2021-01.parquet')
    .head(100)
    .astype({
        'passenger_count': 'Int64',
        'RatecodeID': 'Int64',
        })
)

df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [32]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

NameError: name 'df' is not defined

In [37]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [46]:
parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')
for batch in parquet_file.iter_batches():
    t_start = time()
    batch_df = (
        batch.to_pandas()
        .astype({
            'passenger_count': 'Int64',
            'RatecodeID': 'Int64',
        })
    )
    batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print(f'Inserted another chunk of size {batch_df.shape}, took {(t_end - t_start):.3f} seconds.')

Inserted another chunk of size (65536, 19), took 10.300 seconds.
Inserted another chunk of size (65536, 19), took 11.926 seconds.
Inserted another chunk of size (65536, 19), took 11.988 seconds.
Inserted another chunk of size (65536, 19), took 9.695 seconds.
Inserted another chunk of size (65536, 19), took 11.167 seconds.
Inserted another chunk of size (65536, 19), took 11.445 seconds.
Inserted another chunk of size (65536, 19), took 13.284 seconds.
Inserted another chunk of size (65536, 19), took 11.654 seconds.
Inserted another chunk of size (65536, 19), took 13.803 seconds.
Inserted another chunk of size (65536, 19), took 12.159 seconds.
Inserted another chunk of size (65536, 19), took 13.511 seconds.
Inserted another chunk of size (65536, 19), took 14.630 seconds.
Inserted another chunk of size (65536, 19), took 13.003 seconds.
Inserted another chunk of size (65536, 19), took 12.332 seconds.
Inserted another chunk of size (65536, 19), took 11.643 seconds.
Inserted another chunk of size (65536, 19), took 10.281 seconds.
Inserted another chunk of size (65536, 19), took 12.645 seconds.
Inserted another chunk of size (65536, 19), took 10.937 seconds.
Inserted another chunk of size (65536, 19), took 12.404 seconds.
Inserted another chunk of size (65536, 19), took 12.067 seconds.
Inserted another chunk of size (59049, 19), took 10.455 seconds.

In [21]:
# df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [23]:
# df = next(df_iter)

In [25]:
# len(df)

100000

In [26]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [31]:
# %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 10.4 s

In [43]:
# while True: 
#     t_start = time()

#     df = next(df_iter)

#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

#     t_end = time()

#     print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [1]:
import os
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet'
os.system(f'wget {url} -O data.parquet')

0

In [34]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [8]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-11-30 14:12:08--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231130T201209Z&X-Amz-Expires=300&X-Amz-Signature=c4dce9ec9b99c41937e64499e2cdc385e7138da6e4feb4d31429e99472bcd655&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-11-30 14:12:09--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231130T201209Z&X-Amz-Expires=300&X-Amz-Signature=c4dce9ec9b99c41937e64499e2cdc385e7138da6e4feb4d31429e99472bcd655&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: 'green_tripdata_2019-01.csv.gz'

     0K .......... .......... .......... .......... ..........  0% 2.58M 4s
    50K .......... .......... .......... .......... ..........  0% 5.59M 3s
   100K .......... .......... .......... .......... ..........  1% 2.45M 3s
   150K .......... .......... .......... .......... ..........  1% 12.2M 3s
   200K .......... .......... .......... .......... ..........  2% 44.4M 2s
   250K .......... .......... .......... .......... ..........  2% 1.77M 3s
   300K .......... .......... .......... .......... ..........  3% 46.2M 2s
   350K .......... .......... .......... .......... ..........  3% 86.2M 2s
   400K .......... .......... .......... .......... ..........  4% 67.8M 2s
   450K .......... .......... .......... .......... ..........  4% 47.1M 2s
   500K .......... .......... .......... .......... ..........  5% 3.76M 2s
   550K .......... .......... .......... .......... ..........  5% 11.3M 2s
   600K .......... .......... .......... .......... ..........  5%  360M 2s
   650K .......... .......... .......... .......... ..........  6% 20.8M 1s
   700K .......... .......... .......... .......... ..........  6% 9.89M 1s
   750K .......... .......... .......... .......... ..........  7% 5.57M 1s
   800K .......... .......... .......... .......... ..........  7% 10.8M 1s
   850K .......... .......... .......... .......... ..........  8% 5.13M 1s
   900K .......... .......... .......... .......... ..........  8%  174M 1s
   950K .......... .......... .......... .......... ..........  9% 5.87M 1s
  1000K .......... .......... .......... .......... ..........  9%  138M 1s
  1050K .......... .......... .......... .......... .......... 10%  165M 1s
  1100K .......... .......... .......... .......... .......... 10% 3.94M 1s
  1150K .......... .......... .......... .......... .......... 11% 12.0M 1s
  1200K .......... .......... .......... .......... .......... 11%  272M 1s
  1250K .......... .......... .......... .......... .......... 11% 10.2M 1s
  1300K .......... .......... .......... .......... .......... 12% 7.23M 1s
  1350K .......... .......... .......... .......... .......... 12%  165M 1s
  1400K .......... .......... .......... .......... .......... 13% 6.37M 1s
  1450K .......... .......... .......... .......... .......... 13%  157M 1s
  1500K .......... .......... .......... .......... .......... 14% 10.9M 1s
  1550K .......... .......... .......... .......... .......... 14%  165M 1s
  1600K .......... .......... .......... .......... .......... 15% 13.8M 1s
  1650K .......... .......... .......... .......... .......... 15%  243M 1s
  1700K .......... .......... .......... .......... .......... 16% 44.7M 1s
  1750K .......... .......... .......... .......... .......... 16% 2.58M 1s
  1800K .......... .......... .......... .......... .......... 17%  205M 1s
  1850K .......... .......... .......... .......... .......... 17%  105M 1s
  1900K .......... .......... .......... .......... .......... 17% 8.37M 1s
  1950K .......... .......... .......... .......... .......... 18%  123M 1s
  2000K .......... .......... .......... .......... .......... 18% 16.6M 1s
  2050K .......... .......... .......... .......... .......... 19% 68.6M 1s
  2100K .......... .......... .......... .......... .......... 19% 8.87M 1s
  2150K .......... .......... .......... .......... .......... 20%  102M 1s
  2200K .......... .......... .......... .......... .......... 20%  150M 1s
  2250K .......... .......... .......... .......... .......... 21% 3.96M 1s
  2300K .......... .......... .......... .......... .......... 21%  798K 1s
  2350K .......... .......... .......... .......... .......... 22% 7.22M 1s
  2400K .......... .......... .......... .......... .......... 22%  207M 1s
  2450K .......... .......... .......... .......... .......... 23% 15.6M 1s
  2500K .......... .......... .......... .......... .......... 23% 9.21M 1s
  2550K .......... .......... .......... .......... .......... 23% 36.7M 1s
  2600K .......... .......... .......... .......... .......... 24% 14.7M 1s
  2650K .......... .......... .......... .......... .......... 24% 15.1M 1s
  2700K .......... .......... .......... .......... .......... 25% 5.17M 1s
  2750K .......... .......... .......... .......... .......... 25% 28.7M 1s
  2800K .......... .......... .......... .......... .......... 26% 8.37M 1s
  2850K .......... .......... .......... .......... .......... 26% 5.59M 1s
  2900K .......... .......... .......... .......... .......... 27% 34.1M 1s
  2950K .......... .......... .......... .......... .......... 27% 12.9M 1s
  3000K .......... .......... .......... .......... .......... 28% 11.8M 1s
  3050K .......... .......... .......... .......... .......... 28% 16.2M 1s
  3100K .......... .......... .......... .......... .......... 29% 11.3M 1s
  3150K .......... .......... .......... .......... .......... 29% 5.20M 1s
  3200K .......... .......... .......... .......... .......... 29%  272M 1s
  3250K .......... .......... .......... .......... .......... 30% 4.13M 1s
  3300K .......... .......... .......... .......... .......... 30%  136M 1s
  3350K .......... .......... .......... .......... .......... 31%  106M 1s
  3400K .......... .......... .......... .......... .......... 31% 5.52M 1s
  3450K .......... .......... .......... .......... .......... 32% 90.4M 1s
  3500K .......... .......... .......... .......... .......... 32% 10.6M 1s
  3550K .......... .......... .......... .......... .......... 33%  126M 1s
  3600K .......... .......... .......... .......... .......... 33% 3.31M 1s
  3650K .......... .......... .......... .......... .......... 34% 6.74M 1s
  3700K .......... .......... .......... .......... .......... 34% 15.1M 1s
  3750K .......... .......... .......... .......... .......... 35% 14.9M 1s
  3800K .......... .......... .......... .......... .......... 35% 17.1M 1s
  3850K .......... .......... .......... .......... .......... 35% 13.7M 1s
  3900K .......... .......... .......... .......... .......... 36% 10.4M 1s
  3950K .......... .......... .......... .......... .......... 36% 6.85M 1s
  4000K .......... .......... .......... .......... .......... 37% 15.7M 1s
  4050K .......... .......... .......... .......... .......... 37% 4.26M 1s
  4100K .......... .......... .......... .......... .......... 38% 14.1M 1s
  4150K .......... .......... .......... .......... .......... 38% 17.9M 1s
  4200K .......... .......... .......... .......... .......... 39% 13.6M 1s
  4250K .......... .......... .......... .......... .......... 39% 16.7M 1s
  4300K .......... .......... .......... .......... .......... 40% 7.45M 1s
  4350K .......... .......... .......... .......... .......... 40% 30.7M 1s
  4400K .......... .......... .......... .......... .......... 41% 13.6M 1s
  4450K .......... .......... .......... .......... .......... 41% 19.1M 1s
  4500K .......... .......... .......... .......... .......... 41% 6.12M 1s
  4550K .......... .......... .......... .......... .......... 42%  104M 1s
  4600K .......... .......... .......... .......... .......... 42% 17.2M 1s
  4650K .......... .......... .......... .......... .......... 43% 3.80M 1s
  4700K .......... .......... .......... .......... .......... 43% 11.3M 1s
  4750K .......... .......... .......... .......... .......... 44% 19.1M 1s
  4800K .......... .......... .......... .......... .......... 44%  235M 1s
  4850K .......... .......... .......... .......... .......... 45% 14.8M 1s
  4900K .......... .......... .......... .......... .......... 45% 7.07M 1s
  4950K .......... .......... .......... .......... .......... 46% 31.5M 1s
  5000K .......... .......... .......... .......... .......... 46% 11.0M 1s
  5050K .......... .......... .......... .......... .......... 47% 6.79M 1s
  5100K .......... .......... .......... .......... .......... 47% 3.80M 1s
  5150K .......... .......... .......... .......... .......... 47% 6.33M 1s
  5200K .......... .......... .......... .......... .......... 48% 98.5M 1s
  5250K .......... .......... .......... .......... .......... 48% 39.3M 1s
  5300K .......... .......... .......... .......... .......... 49% 10.9M 1s
  5350K .......... .......... .......... .......... .......... 49% 5.29M 1s
  5400K .......... .......... .......... .......... .......... 50%  128M 1s
  5450K .......... .......... .......... .......... .......... 50% 14.5M 1s
  5500K .......... .......... .......... .......... .......... 51% 8.11M 1s
  5550K .......... .......... .......... .......... .......... 51% 13.1M 1s
  5600K .......... .......... .......... .......... .......... 52% 8.82M 1s
  5650K .......... .......... .......... .......... .......... 52% 17.0M 1s
  5700K .......... .......... .......... .......... .......... 53% 14.8M 1s
  5750K .......... .......... .......... .......... .......... 53% 4.47M 1s
  5800K .......... .......... .......... .......... .......... 53%  174M 1s
  5850K .......... .......... .......... .......... .......... 54% 7.06M 1s
  5900K .......... .......... .......... .......... .......... 54%  140M 1s
  5950K .......... .......... .......... .......... .......... 55% 2.14M 1s
  6000K .......... .......... .......... .......... .......... 55% 6.60M 1s
  6050K .......... .......... .......... .......... .......... 56% 19.4M 1s
  6100K .......... .......... .......... .......... .......... 56% 2.01M 1s
  6150K .......... .......... .......... .......... .......... 57% 4.56M 1s
  6200K .......... .......... .......... .......... .......... 57% 7.16M 1s
  6250K .......... .......... .......... .......... .......... 58% 20.9M 1s
  6300K .......... .......... .......... .......... .......... 58% 7.55M 0s
  6350K .......... .......... .......... .......... .......... 59% 14.4M 0s
  6400K .......... .......... .......... .......... .......... 59% 7.08M 0s
  6450K .......... .......... .......... .......... .......... 59% 16.3M 0s
  6500K .......... .......... .......... .......... .......... 60% 13.1M 0s
  6550K .......... .......... .......... .......... .......... 60% 17.5M 0s
  6600K .......... .......... .......... .......... .......... 61% 12.2M 0s
  6650K .......... .......... .......... .......... .......... 61% 6.48M 0s
  6700K .......... .......... .......... .......... .......... 62% 15.8M 0s
  6750K .......... .......... .......... .......... .......... 62% 5.19M 0s
  6800K .......... .......... .......... .......... .......... 63% 3.08M 0s
  6850K .......... .......... .......... .......... .......... 63% 17.6M 0s
  6900K .......... .......... .......... .......... .......... 64% 3.49M 0s
  6950K .......... .......... .......... .......... .......... 64%  207M 0s
  7000K .......... .......... .......... .......... .......... 65% 8.05M 0s
  7050K .......... .......... .......... .......... .......... 65% 3.36M 0s
  7100K .......... .......... .......... .......... .......... 65% 22.3M 0s
  7150K .......... .......... .......... .......... .......... 66% 6.26M 0s
  7200K .......... .......... .......... .......... .......... 66% 16.2M 0s
  7250K .......... .......... .......... .......... .......... 67% 5.87M 0s
  7300K .......... .......... .......... .......... .......... 67% 11.6M 0s
  7350K .......... .......... .......... .......... .......... 68% 2.51M 0s
  7400K .......... .......... .......... .......... .......... 68% 30.1M 0s
  7450K .......... .......... .......... .......... .......... 69% 2.67M 0s
  7500K .......... .......... .......... .......... .......... 69%  142M 0s
  7550K .......... .......... .......... .......... .......... 70% 12.7M 0s
  7600K .......... .......... .......... .......... .......... 70% 3.72M 0s
  7650K .......... .......... .......... .......... .......... 71% 7.19M 0s
  7700K .......... .......... .......... .......... .......... 71% 5.08M 0s
  7750K .......... .......... .......... .......... .......... 71% 4.51M 0s
  7800K .......... .......... .......... .......... .......... 72% 10.1M 0s
  7850K .......... .......... .......... .......... .......... 72% 3.58M 0s
  7900K .......... .......... .......... .......... .......... 73% 15.2M 0s
  7950K .......... .......... .......... .......... .......... 73% 14.6M 0s
  8000K .......... .......... .......... .......... .......... 74% 3.26M 0s
  8050K .......... .......... .......... .......... .......... 74% 7.32M 0s
  8100K .......... .......... .......... .......... .......... 75% 7.14M 0s
  8150K .......... .......... .......... .......... .......... 75% 10.7M 0s
  8200K .......... .......... .......... .......... .......... 76% 22.5M 0s
  8250K .......... .......... .......... .......... .......... 76% 5.75M 0s
  8300K .......... .......... .......... .......... .......... 77% 10.3M 0s
  8350K .......... .......... .......... .......... .......... 77% 10.8M 0s
  8400K .......... .......... .......... .......... .......... 77% 6.74M 0s
  8450K .......... .......... .......... .......... .......... 78% 14.0M 0s
  8500K .......... .......... .......... .......... .......... 78% 4.71M 0s
  8550K .......... .......... .......... .......... .......... 79% 4.19M 0s
  8600K .......... .......... .......... .......... .......... 79%  273M 0s
  8650K .......... .......... .......... .......... .......... 80% 6.66M 0s
  8700K .......... .......... .......... .......... .......... 80% 10.4M 0s
  8750K .......... .......... .......... .......... .......... 81% 9.52M 0s
  8800K .......... .......... .......... .......... .......... 81% 3.59M 0s
  8850K .......... .......... .......... .......... .......... 82% 6.25M 0s
  8900K .......... .......... .......... .......... .......... 82% 22.6M 0s
  8950K .......... .......... .......... .......... .......... 83% 4.89M 0s
  9000K .......... .......... .......... .......... .......... 83% 10.5M 0s
  9050K .......... .......... .......... .......... .......... 83% 22.2M 0s
  9100K .......... .......... .......... .......... .......... 84% 2.37M 0s
  9150K .......... .......... .......... .......... .......... 84%  293M 0s
  9200K .......... .......... .......... .......... .......... 85% 16.5M 0s
  9250K .......... .......... .......... .......... .......... 85% 7.83M 0s
  9300K .......... .......... .......... .......... .......... 86% 8.05M 0s
  9350K .......... .......... .......... .......... .......... 86% 11.3M 0s
  9400K .......... .......... .......... .......... .......... 87% 5.20M 0s
  9450K .......... .......... .......... .......... .......... 87% 4.98M 0s
  9500K .......... .......... .......... .......... .......... 88%  120M 0s
  9550K .......... .......... .......... .......... .......... 88% 3.95M 0s
  9600K .......... .......... .......... .......... .......... 89%  374M 0s
  9650K .......... .......... .......... .......... .......... 89% 5.51M 0s
  9700K .......... .......... .......... .......... .......... 89% 4.04M 0s
  9750K .......... .......... .......... .......... .......... 90% 48.5M 0s
  9800K .......... .......... .......... .......... .......... 90% 32.4M 0s
  9850K .......... .......... .......... .......... .......... 91% 7.45M 0s
  9900K .......... .......... .......... .......... .......... 91% 5.50M 0s
  9950K .......... .......... .......... .......... .......... 92% 8.42M 0s
 10000K .......... .......... .......... .......... .......... 92% 14.3M 0s
 10050K .......... .......... .......... .......... .......... 93% 21.9M 0s
 10100K .......... .......... .......... .......... .......... 93% 4.34M 0s
 10150K .......... .......... .......... .......... .......... 94% 13.7M 0s
 10200K .......... .......... .......... .......... .......... 94% 4.65M 0s
 10250K .......... .......... .......... .......... .......... 95%  180M 0s
 10300K .......... .......... .......... .......... .......... 95% 3.60M 0s
 10350K .......... .......... .......... .......... .......... 95% 70.5M 0s
 10400K .......... .......... .......... .......... .......... 96% 14.1M 0s
 10450K .......... .......... .......... .......... .......... 96% 3.87M 0s
 10500K .......... .......... .......... .......... .......... 97% 7.06M 0s
 10550K .......... .......... .......... .......... .......... 97% 4.25M 0s
 10600K .......... .......... .......... .......... .......... 98% 66.1M 0s
 10650K .......... .......... .......... .......... .......... 98%  145M 0s
 10700K .......... .......... .......... .......... .......... 99% 6.94M 0s
 10750K .......... .......... .......... .......... .......... 99% 16.3M 0s
 10800K .......... .......... .......... .........            100%  248M=1.3s

2023-11-30 14:12:10 (8.21 MB/s) - 'green_tripdata_2019-01.csv.gz' saved [11099245/11099245]

In [6]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [7]:
df = next(df_iter)

In [8]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [12]:
table_name = 'green_taxi_trips'
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')
df.to_sql(name=table_name, con=engine, if_exists='append')

1000

In [13]:
while True: 
    try:
        t_start = time()
        
        df = next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name=table_name, con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, took 15.044 second
inserted another chunk, took 15.498 second
inserted another chunk, took 16.916 second
inserted another chunk, took 21.229 second
inserted another chunk, took 17.408 second
inserted another chunk, took 6.047 second
Finished ingesting data into the postgres database